#menu {
   display: flex;
   flex-direction: column;
   width: 12.5%;
   margin: 5px 5px 2.5px 2.5px;
   padding: 0;
   height: 100%;
   border: solid;
   border-color: black;
   font-weight: 750;
   position: fixed;
   background-color: rgb(244, 243, 243);
}

.menuItem {
   list-style: none;
   align-items: center;
   font-size: 20px;

}

#title{
   color:rgba(0, 0, 255, 0.616);
   font-family: "Times New Roman",Times,Serif;
   text-align: center;
   font-size: 80px;

}
#NDC{
   color:rgb(0, 0, 255);
   text-align: center;
   font-size: 30px;

}
